$background-color: #0d0d0d;
$primary-color: #00ff99;
$secondary-color: #ff00ff;
$text-color: #ffffff;
$link-color: #00ff99;
$hover-color: #ff00ff;

body, .body, .hero-body, .blog {
  background-color: #0a0a0a;
  color: white;
}

header, footer {
  background-color: rgba(0, 0, 0, 0);
  padding: 1em;
}

header h1, footer p {
  margin: 0;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $hover-color;
}

.posts .post h2 {
  margin: 0;
}

.posts .post p, .post-content, .post #description {
  color: white;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, strong {
  text-decoration: underline;
  color: white;
}

code {
  background-color: #393939;
  color: white;
}

.credits {
  background-color: black !important;
}

body {
  //background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

blockquote {
  background-color: #0a0a0a !important;
  color: white;
}

blockquote {
  background-color: #0a0a0a !important;
  color: white;
}

#blog-card {
  background-color: #393939 !important;
  color: white !important;

  &:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    filter: brightness(150%);
  }
}

.title {
  color: white !important;
} 

div .content {
  color: white !important;
}

span {
  color: white !important;
}

.subtitle {
  color: white !important;
}

.has-text-grey {
  color: white !important;
}

a {
  color: white !important;
}

div .backtotop {
  border-radius: 50%;
  border-radius: 50% !important;
  &:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    filter: brightness(150%);
  }
}

.card-content {
  background-color: #393939 !important;
  color: white !important;
}

h3 {
  color: white !important;
}

.button.is-black.is-outlined {
  background-color: #393939 !important;
  color: white !important;

  &:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    filter: brightness(150%);
  }
}

.is-size-5 {
  color: white !important;
}

svg {
  color: white !important;
}